@page "/people"
@using Microsoft.Extensions.Configuration
@using BlazorFileUpload.Client.Models;
@using DataLibrary
@inject IDataAccess _Data
@inject IConfiguration _config

<h3>People</h3>


@if (dataperson == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var p in dataperson)
    {
        <p>
            @p.FristName @p.LastName
        </p>
        
    }
}


@code {
    
    List<PersonModel> dataperson;
    
    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT * FROM `dataperson` ";

        dataperson = await _Data.LoadData<PersonModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
}


}